extends layout
block content
    nav.navbar.b-dark
        span.navbar-brand.mb-0.h1.logo 256Bit
    #wrapper
        .content
            section.vh-100
                .container.py-5.h-100
                    .row.d-flex.justify-content-center.align-items-center.h-100
                        .col.col-xl-10
                            .pixel-border-text
                                .row.g-0.justify-content-center
                                    .col-md-8.col-lg-7.d-flex
                                        .card-body.p-4.p-lg-5.text-black
                                            form(action="/register" method="post")
                                                .d-flex.align-items-center.mb-3.pb-1
                                                    span.h1.fw-bold.mb-0 256Bit
                                                h5.fw-normal.mb-3.pb-3(style='letter-spacing: 1px;') Create your account
                                                +flash(error, success)
                                                .form-outline.mb-4
                                                    +input("Username", tip="this is how we will call you in emails and within the app")(type="username", placeholder="almightyjord", name="username")
                                                .form-outline.mb-4
                                                    +input("Email")(type="email", placeholder="blewis@gmail.com", name="email")
                                                .form-outline.mb-4
                                                    +input("Password", tip="must be at least 12 character long")(type="password", placeholder="", name="password")
                                                .form-outline.mb-4
                                                    +input("Confirm Password", tip="must be the same as password")(type="password", placeholder="", name="confirm_password")
                                                .pt-1.mb-4
                                                    button.btn.b-dark.btn-lg.btn-block(type='submit') Register
        .background
            div(id='particles-js')


    script(src='./js/particles.js')
    script(src='./js/popper.js')
    script(src='./js/bootstrap.min.js')
    script(src='javascripts/particle_test.js')
    script(src='javascripts/tooltips.js')